<%= link_to 'Back', country_managements_url %>

<% provide(:title, ' Country Management') %>
<h1>Update country info</h1>

<%= form_tag country_management_path(params[:id]), method:"put" do %>


        <fieldset>
      <div>
        <div><%=  label_tag :name %><br />
          <%= text_field_tag :name, params[:name], :placeholder => "Country name" ,value:params[:name]%></div>

        <div><%=  label_tag :code %><br />
          <%= text_field_tag :code, params[:code], :placeholder => "Country code" %></div>

      </div>
      <br>
      <div>
        <%= submit_tag "Save changes" ,class: "btn btn-primary"%>
      </div>
    </fieldset>


<% end %>




