<% if params[:controller]== 'sessions' %>
    <% provide(:title, "Log in") %>

    <h1>Enter Your Login Information </h1>


    <%= form_tag login_path do |f| %>

        <fieldset>
          <div>
            <%= label_tag :Email %><br/>
            <%= text_field_tag :login, params[:login], :placeholder => "Email"%>
          </div>
          <div>
            <%= label_tag :Password %><br/>
            <%= password_field_tag :password, params[:password], :placeholder => "Password" %>
          </div>

          <div class="field">
            <%= label_tag :remember_me %>
            <%= check_box_tag :remember_me, 1, params[:remember_me] %>
          </div>

          <div class="actions">
            <%= submit_tag :submit,class: "btn btn-primary" %>
          </div>
          <p>Forgot Password? <%= link_to "Reset password", new_password_reset_path %></p>
        </fieldset>
    <% end %>
<% end %>



<%= link_to 'Back', root_url %>
