<% provide(:title, "Reset Password") %>

<h1>Enter Your Password Information </h1>
<%= form_tag password_reset_path(params[:id]), method:"put"  do %>

        <fieldset>
      <div>
        <%= label_tag :password %>
        <%= text_field_tag :password, params[:password], :placeholder => "Password" %>
      </div>
      <div>
        <%= label_tag :password_confirmation %>
        <%= text_field_tag :password_confirmation, params[:password_confirmation], :placeholder => "Enter same password again" %>
      </div>

      <div class="actions">
        <%= submit_tag :submit, class: "btn btn-primary" %>
      </div>
    </fieldset>

<% end %>


