
<!--table responsive and  scrolls horizontally-->


<div class="panel-body">
  <div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
      <thead>
      <tr>

        <!--<th>#</th>-->
        <th>Invoice Id #</th>
        <th>Invoice No.</th>
        <th>Invoice Date</th>
        <th>User</th>
        <th>Vat(%)</th>
        <th>Total Amount</th>
        <th>Tenant_id</th>
        <th>Url</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      </thead>


      <tr>
      <% @invoices.each do |i| %>


                <!--<td><%#= i.inspect %></td>-->
                <td><%= i.id %></td>
                <td><%= i.invoice_no %></td>
                <td><%= i.invoice_date %></td>
                <td><%= i.user_id %></td>
                <td><%= i.vat %></td>
                <td><%= i.total_amount %></td>
                <td><%= i.tenant_id %></td>
                <td><%= i.url %></td>

        <td><%= link_to "Show", invoice_path(i.id) %></td>
        <td><%= link_to "Edit", edit_invoice_path(i.id) %></td>
        <td><%= link_to "Remove",invoice_path(i.id), method: :delete, data: { confirm: "Are you sure?" } %></td>

      </tr>

          <% end %>


    </table>
  </div>
</div>
