<%= link_to 'Back', invoices_url %>

<% provide(:title, ' Invoice Management') %>


<%= form_tag invoice_path(params[:id]), method: "put" do %>

    <fieldset>
      <div>


        <div><%= label_tag :vat %><br/>
          <%= text_field_tag :vat, params[:vat], :placeholder => "Vat%" %></div>

        <div><%= label_tag :total_amount %> <br/>
          <%= text_field_tag :total_amount, params[:total_amount], :placeholder => "Total amount" %></div>

        <div><%= label_tag :currency %><br/>
        <%= text_field_tag :currency, params[:currency], :placeholder => "Currency" %></div>
      </div>

      <br/>

      <div>
        <%= submit_tag "Save changes", class: "btn btn-primary" %>
      </div>
    </fieldset>

<% end %>



