<!--table responsive and  scrolls horizontally-->

<div class="table-responsive" id="customer-info">
  <div class="container">
    <h2>List of all Customer</h2>
    <table class="table table-hover">
      <thead>
      <tr>
        <!--<th>#</th>-->
        <th>User ID</th>
        <th>Profile ID</th>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date of Birth</th>
        <th>Country of residence</th>
        <th>URL</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <% @customers.each do |c| %>
          <tr>
            <!--<td><%#= c.inspect %></td>-->
            <td><%= c.id %></td>
            <td><%= c.profile.id %></td>
            <td><%= c.login %></td>
            <td><%= c.profile.first_name %></td>
            <td><%= c.profile.last_name %></td>
            <td><%= c.profile.date_of_birth %></td>
            <td><%= c.profile.country_of_residence %></td>
            <td><%= c.profile.url %></td>
            <td><%= link_to "Show", role_customer_path(c.id) %></td>
            <td><%= link_to "Edit", edit_role_customer_path(c.id) %></td>
            <td><%= link_to "Remove", role_customer_path(c.id), method: :delete, data: {confirm: "Are you sure?"} %></td>
          </tr>
          <tr >
            <!--<td colspan="4">-->
              <!--<%#= c.profile.inspect %>-->
            <!--</td>-->


          </tr>
      <% end %>
    </table>
  </div>
</div>