<div class="col-xs-6 col-lg-2 col-sm-6 col-md-2">
  <div id="mySidenav" class="sidenav">
    <ul>
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <!--<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>-->
      <%# if signed_in %>
      <li><%= link_to "User Registration", role_signup_new_path %></li>
      <li><%= link_to "Customer Management", role_customers_path %></li>
      <li><%= link_to " Invoices", invoices_path %></li>
      <li><%= link_to "Order Management", orders_path %></li>
      <li><%= link_to "Plant Management", plant_managements_path %></li>
      <li><%= link_to "Driver Management", driver_managements_path %></li>
      <li><%= link_to "Country Management", country_managements_path %></li>
      <li><%= link_to "Province Management", province_managements_path %></li>
      <li><%= link_to "Cities Management", cities_managements_path %></li>
      <li><%= link_to "Postalcode Management", postal_managements_path %></li>
      <li><%= link_to "Timewindow Management", time_window_managements_path %></li>
    </ul>

    <!--</div> &lt;!&ndash;   end of sidebar&ndash;&gt;-->
  </div>
</div>