<%= link_to 'Back', role_customers_url %>

<h1>Details of Customer: <%= @customer.login %></h1>

<p>
  <strong> Customer id: </strong> <%=  @customer.id %><br />
  <strong> Profile id: </strong> <%=  @customer.profile.id %><br />
  <strong>First Name: </strong> <%=  @customer.profile.first_name %><br />
  <strong>Last Name: </strong> <%=  @customer.profile.last_name%><br />
  <strong>Date of Birth :</strong> <%=  @customer.profile.date_of_birth%><br />
  <strong>Country od Residence:</strong> <%= @customer.profile.country_of_residence %><br />

</p>