<!--table responsive and  scrolls horizontally-->

<div class="panel-body">
  <div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
      <thead>
      <tr>

        <!--<th># </th>-->
        <th>Order Id </th>
        <th>User Id</th>
        <th>Tenant id</th>
        <th>Vat(%)</th>
        <th>Currency</th>
        <th>Total amount</th>
        <th>Invoice Id</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      </thead>


      <tr>
        <% @orders.each do |i| %>


            <td><%#= i.inspect %></td>
            <td><%= i.id %></td>
            <td><%= i.user_id %></td>
            <td><%= i.tenant_id %></td>
            <td><%= i.vat %></td>
            <td><%= i.currency %></td>

            <td><%= i.total_amount %></td>
            <td><%= i.url %></td>

            <td><%= link_to "Show", order_path(i.id) %></td>
            <td><%= link_to "Edit", edit_order_path(i.id) %></td>
            <td><%= link_to "Remove",order_path(i.id), method: :delete, data: { confirm: "Are you sure?" } %></td>

            </tr>

        <% end %>



        </table>
  </div>
</div>
