<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<a class="navbar-brand" href="#">Super Admin Dashboard</a>-->
      <div class="navbar-header">

        <img class="img-responsive" src="/assets/logo_sq.jpg" alt="logo" width="50" height="200">
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div id="navbar" class="navbar-collapse collapse">

      <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
      <ul class="nav navbar-nav ">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", '#' %></li>


        <% if signed_in %>
            <ul class="nav navbar-nav">
              <%#= current_user.login %>
              <li><%= link_to "Profile" %></li>
              <li><%= link_to "Settings", '#' %></li>
              <li><%= link_to "Log out", '/logout', method:"delete" %></li>
            </ul>
        <% else %>
            <li><%= link_to "Login", '/login' %></li>
            <!--<li><%#=link_to "Signup", role_super_admin_dashboards_path %></li>-->


        <% end %>
        </ul>
        </div>


    <!--</div>-->
    </ul>
    <form class="navbar-form navbar-right" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>

  </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </div>  <!-- .inner-container-->
  </div>

</nav>


