<% if params[:controller]!= 'super_admin_dashboards'%>
<nav class="navbar navbar-default">
  <!--<div class="navbar-inner">-->
    <div class="container-fluid">
      <!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
      <div class="navbar-header">

          <img class="img-responsive" src="/assets/logo_sq.jpg" alt="logo" width="50" height="200">
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <% if current_user %>

        <li><%= link_to "Home", root_path %></li>
          <!--&lt;!&ndash;<li><%#= link_to "Dashboard", role_super_admin_dashboards_path %></li>&ndash;&gt;-->

          <!--<li><%#= link_to "Login", login_path %></li>-->
          <!--<li><%#= link_to "Logout", logout_path %></li>-->


        <!--</ul>-->


        <!--<div class="nav pull-right">-->
              <ul>
                <%= current_user.user %>
                <%= link_to "Home", root_path %><

                <%= link_to "Log out", logout_path, method: "delete" %>
              </ul>
          <% else %>
              <ul>
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "Login", '/login' %></a></li>
                <li><%=link_to "Signup", '/signup' %></a></li>
              </ul>
          <% end %>
        <!--</div>-->
      </ul>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </div>  <!-- .inner-container-->

</nav>
<%end%>